<% include ../partials/header %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">
                                <a href="javascript:void(0)">
                                    <%= campground.name %>
                                </a>
                            </h4>
                            <p><%= campground.price %></p>
                        </div>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <em> Submitted by:  <%= campground.author.username %> </em>
                        </p>

                        <div class="d-flex justify-content-between">
                            <div class="ratings">
                                <span class="fa fa-star-o" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                            </div>
                            <div class="review">
                                4 reviews
                            </div>
                        </div>
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <div class="d-flex justify-content-between mt-3 mb-1">
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit this campground</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                               <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <p class="d-flex justify-content-end">
                            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success" id="add">Add new comment</a>
                        </p>
                        <hr>
                        <% campground.comments.forEach(function(res){ %>
                            <div class="row border-bottom border-dark">
                                <div class="col-md-12">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <strong>
                                                <%= res.author.username %>
                                            </strong>
                                        </div>
                                        <div>
                                            10 days ago
                                        </div>
                                    </div>
                                    <p>
                                        <%= res.text %>
                                    </p>
                                    <% if (currentUser && res.author.id.equals(currentUser._id)) { %>
                                    <div class="d-flex justify-content-between mt-1 mb-1">
                                        <a href="/campgrounds/<%= campground._id %>/comments/<%= res._id %>/edit" class="btn btn-warning btn-sm">Edit comment</a>
                                        <form action="/campgrounds/<%= campground._id %>/comments/<%= res._id %>?_method=DELETE" method="POST">
                                           <button class="btn btn-danger btn-sm">Delete Comment</button>
                                        </form>
                                    </div>
                                    <% } %>
                                </div> 
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div>

        <p>
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success" id="add">Add new comment</a>
        </p>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= //campground._id %>/comments" method="post" class="form" style="display:none;" id="formComment">
                <div class="form-group">
                    <input type="text" name="comment[text]" placeholder="Your Comment" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="comment[author]" placeholder="Author" class="form-control">
                </div>
                <input type="submit" value="Submit" class="btn btn-lg btn-info btn-block">
            </form>
        </div>

    </div> -->



    <% include ../partials/footer %>
        <!-- <script>
        $("#add").click(function () {
            $("#formComment").toggle();
        });
    </script> -->